@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Firefox */
* {
    /* scrollbar-width: thin; */
    scrollbar-color: #7c3212bf #c24a0c1f;
}


@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

    /* Chrome, Edge, and Safari */
    /* *::-webkit-scrollbar { */
    /*     /\* width: 15px; *\/ */
    /* } */

    /* *::-webkit-scrollbar-track:vertical:hover { */
    /*     background-color: #c24a0c1f; */
    /*     /\* z-index: -1; *\/ */
    /*     border-radius: 5px; */
    /* } */

    /* *::-webkit-scrollbar-thumb:vertical:hover { */
    /*     background-color: #c24a0c1f; */
    /*     /\* border-radius: 14px; *\/ */
    /*     /\* border: 3px solid #c24a0c; *\/ */
    /* } */

}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}

